body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.Fragment{
    width: 100vw;
    height: 100vh;
    background:linear-gradient(lightblue,rgb(221, 112, 112));

}
.formmain{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.form{
    width: 50%;
    height: 40%;
    border: 1px solid black;
    padding: 2vh;
    border-radius: 10px;
    background-color: white;
}
.input{
    outline:none;
    padding: 1vh;
    margin: 2vh 0;
    width: 90%;
    font-size: 3vh;
    font-family: gilroy;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;

}
.input::placeholder{
    font-family: gilroy;
    color: brown;
    font-size: 3vh;
    
}
.submitbutton{
    width: 100%;
    padding: 1vh 0;
    background-color: royalblue;
    border: none;
    margin: 2vh 0;
    border-radius: 10px;
    cursor: pointer;
    font-size: 2.5vh ;
}